<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Commonplace Book</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>LibreFranklin-Black.otf</string>
		<string>LibreFranklin-BlackItalic.otf</string>
		<string>LibreFranklin-Bold.otf</string>
		<string>LibreFranklin-ExtraBoldItalic.otf</string>
		<string>LibreFranklin-ExtraLight.otf</string>
		<string>LibreFranklin-ExtraLightItalic.otf</string>
		<string>LibreFranklin-Light.otf</string>
		<string>LibreFranklin-Medium.otf</string>
		<string>LibreFranklin-MediumItalic.otf</string>
		<string>LibreFranklin-Regular.otf</string>
		<string>LibreFranklin-SemiBold.otf</string>
		<string>LibreFranklin-ThinItalic.otf</string>
		<string>Merriweather-Black.otf</string>
		<string>Merriweather-BlackItalic.otf</string>
		<string>Merriweather-Bold.otf</string>
		<string>Merriweather-BoldItalic.otf</string>
		<string>Merriweather-Italic.otf</string>
		<string>Merriweather-Light.otf</string>
		<string>Merriweather-LightItalic.otf</string>
		<string>Merriweather-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
