--binarygrouping none
--decimalgrouping none
--exclude Pods
--header "// Copyright (c) 2018-2021  Brian Dewey. Covered by the Apache 2.0 license."
--hexgrouping none
--indent 2
--octalgrouping none
--patternlet inline
--stripunusedargs closure-only
--wraparguments beforefirst
--wrapcollections beforefirst
--self init-only
